.carousel


   .carousel__inner
      .carousel__container
         .carousel__list
            .carousel__item
                img(src="asset/image/pics/roland.jpg")
            .carousel__item()
                  img(src="asset/image/pics/gerecht-1.jpg")
            .carousel__item()
                  img(src="asset/image/pics/gerecht-2.jpg")
            .carousel__item()
                  img(src="asset/image/pics/gerecht-3.jpg")


