footer.footer#contact
   .container
      a.btn--rounded--secondary.btn(href="mailto:mail@aronmartin.com") Nodig mij uit
      .row
         .col-sm-8.footer__col
             h3.footer__col__title Benieuwd of ik wat kan betekenen voor DotControl?
             p.footer__col__text
               |+31 (0)644459946
               br
               a.footer__col__link(href="mailto:mail@aronmartin.com") mail@aronmartin.com
               br
               a.footer__col__link(href="http://aronmartin.com" target="_blank") aronmartin.com



