.container
   .row
      .col-md-12
         p.intro-text Tijd is kostbaar, zeker als het om juridische zaken gaat. De Horeca_indicator helpt u snel te anticiperen. Het online dashboard toont u per vestiging alle relevante gegevens. Actueel en overzichtelijk – u kunt meteen beslissen.
