.lead(style="background-image:url('asset/image/background/aron.jpg');")
   section.lead__top
           .container
               .row
                   .lead__vcentered
                       .col-sm-12.text-center
                            h1.lead__top__title Welkom
                                span &nbspDotControl
                            include ../modules/filter

           .lead-menu
               .container
                   a(href="#")










