.navbar
   .navbar__container
      .navbar__menu
         a(href="#").navbar__brand
            | &nbsp
         .mobile-menu
            a(href="#overmij").navbar__menu__btn Over mij
            a(href="#portfolio").navbar__menu__btn Portfolio
            a(href="#motivatie").navbar__menu__btn Motivatie
            a(href="#contact").navbar__menu__btn Contact

         span.visible-xs.mobile-menu-trigger(mobile-menu-trigger href="#" title="Mobiel Menu")
               .con
                  .bar.top
                  .bar.middle
                  .bar.bottom



