.portfolio#portfolio
    .container
        h2 Portfolio
        br
        .row
            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/stijlvan.jpg')").front
                            h5 Stijlvan | Promotie
                            .date 2015
                        figure.back
                            p Stijlvan is een tool waar iedereen zijn huisstijl kan beheren en borgen. Ik heb hier de front-end templates van de promotie pagina's gemaakt.
                            a(href="http://stijlvan.nl" target="_blank") Naar de website
            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/inspectiefocus.jpg')").front
                            h5 SZW | Inspectiefocus
                            .date 2015

                        figure.back
                            p Een publicatie website van het ministerie szw. Dit moest uitsluitend een front-end applicatie worden. De artikelen staan in een json file en de applicatie zelf is met angular gebouwd.
                            a(href="http://inspectiefocus.osage3.nl" target="_blank") Naar de website

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/woonstad.jpg')").front
                            h5 Woonstad | Kaart
                            .date 2015

                        figure.back
                            p Als freelancer ben ik bezig met een interactieve svg voor Woonstad. Hierbij kan je inzoomen/uitzoomen en de legenda gebruiken om bepaalde wijken te doen oplichten.
                            a(href="http://aronmartin.com/woonstad-kaart" target="_blank") Naar de website


            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/qompass.jpg')").front
                            h5 Qompass | Magazine
                            .date 2015
                        figure.back
                            p Een magazine voor scholieren, studenten en young professionals voor studiekeuze en carrièrekeuze.
                            a(href="http://www.qompasmagazine.nl/qm-2015/cover" target="_blank") Naar de website

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/reach.jpg')").front
                            h5 Rijksoverheid | Reach
                            .date 2015
                        figure.back
                            p REACH is een Europese regel over de productie van en handel in chemische stoffen.
                            a(href="http://www.woonstadrotterdam.nl/jaffapoortmagazine/" target="_blank") Naar de website

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/ifactory.jpg')").front
                            h5 iFactory | Promotie
                            .date 2014
                        figure.back
                            p Een freelance project van alweer meer dan twee jaar geleden. iFactory is een kennishuis en sparringpartner voor ICT vraagstukken voor haar klanten en partners.
                            a(href="http://ifactory.nl" target="_blank") Naar de website

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/woonstad-2.jpg')").front
                            h5 Woonstad | Magazine
                            .date 2014
                        figure.back
                            p Een freelance project voor Woonstad. Een statisch online magazine over het project Jaffapoort in Rotterdam.
                            a(href="http://www.woonstadrotterdam.nl/jaffapoortmagazine/" target="_blank") Naar de website

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/blijdorpfestival.jpg')").front
                            h5 Blijdorp Festival | Promotie
                            .date 2014
                        figure.back
                            p Een freelance project voor een vrij nieuw festival vol vernieuwende elektronische muziek en bijzondere acts.
                            a(href="http://www.blijdorpfestival.nl" target="_blank") Naar de website

            .col-md-4.col-sm-6
                .portfolio__item
                    .card(data-card-flip)
                        figure(style="background-image:url('asset/image/portfolio/trenchcoatfilm.jpg')").front
                            h5 Trenchcoatfilm | Website
                            .date 2013
                        figure.back
                            p Een freelance project voor Trenchcoatfilm. Een film/animatie bureau in Rotterdam.
                            a(href="http://www.trenchcoatfilm.nl/" target="_blank") Naar de website

