.link {
    display: block;
    width: auto;
}

.link--rounded--primary {
    padding: 0.5rem 0 0.5rem 3.4rem;
    font-family: "Rijksoverheid Bold";
    color: $color-secondary;
    position: relative;
    line-height: 26px;

    .icon {
        background-color: $color-primary;
        transition: all 0.3s ease-in-out;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 0;
        display: block;
        border-radius: 50%;
        text-align: center;
        line-height: 2.4rem;
        font-size: 10px;
    }

    &:hover {
        color: $color-tertiary;

        .icon {
            color: $color-secondary;
        }
    }
}