// Headings
//-------------------------------
h1, h2, legend, h3, h4, h5, h6 {
    font-family: $font-primary;
    margin: 0 0 0.25em 0;
    color: $color-font;
    font-weight: 500;

}

h1 {
    font-size: 4.8rem;
    line-height: 5.1rem;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

h2 {
    font-size: 2.8rem;
    line-height: 3.4rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.0rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

h5 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

h6 {
    font-size: 1.3rem;
    line-height: 1.9rem;
}

// Paragraphs
//-------------------------------
p {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: $color-black;

    a {
        text-decoration: none;
        color:$color-tertiary;
        transition: color 0.2s;
        font-weight: 400;
        &:hover {
            color:$color-primary;
        }
    }
}

// Lists
//-------------------------------
ul, ol {
    margin-left: 19px;
    margin-bottom: 20px;
}

li a {
    text-decoration: none;
    color:$color-quad;
    transition: color 0.2s;
    font-weight: 100;
    &:hover {
        color:$color-primary;
    }
}


// Links
//-------------------------------
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: inline;
    font-weight:300;
}

i {
    transition: color 0.3s ease-in-out;
}



// Text Variations
//-------------------------------
em {
    font-style: italic;
}

strong {
    font-weight: 700;
}



// Special Text Elements
//-------------------------------
code, pre {

}

pre {
    overflow-x: auto;
}


