// Colors
// -------------------------------


// Blacks & Whites
$color-black:                   #000;
$color-white:                   #fff;

// Fifty shades of.... Greys
$color-grey--lightest:          rgb(242, 242, 242);
$color-grey--lighter:           rgb(219, 224, 228);
$color-grey--light:             rgb(184, 195, 203);
$color-grey:                    rgb(157, 157, 157);
$color-grey--dark:              #fff;
$color-grey--darker:            #fff;
$color-grey--darkest:           #fff;


//BASE COLORS


$color-primary:                 #ff5454;
$color-primary--90:             rgba(255, 84, 84, 0.95);
$color-secondary:               #333;
$color-secondary--03:           #B8C3CB;
$color-tertiary:                #00689b;
$color-quad:                    #333659;
$color-accent:                  #ccc;
$color-font:                    #1a171b;
$color-font--alt:               #138081;
$color-background:              #fff;
$color-background--alt:         #f5f5f5;
$color-background--alt-2:       #ccc;
$color-background--alt-3:       rgba(150, 150, 150, 0.15);


// Fonts
// -------------------------------

$font-primary:             "Roboto", sans-serif;
$font-secondary:            "canada-type-gibson", sans-serif;

$font-family-base:                $font-primary;
$font-size-base:                  2rem;
$font-size-small:                 1.2rem;
$font-size-medium:                1.4rem;
$font-size-large:                 1.8rem;

$font-weight-light:               300;
$font-weight-normal:              400;
$font-weight-medium:              500;
$font-weight-bold:                700;
$font-weight-medium-italic:       400italic;

$line-height-addition:            0.6rem;
$line-height-base:                $font-size-base + $line-height-addition;
$line-height-small:               $font-size-small + $line-height-addition;
$line-height-medium:              $font-size-medium + $line-height-addition;
$line-height-large:               $font-size-large + $line-height-addition;


$text-shadow:                     0 2px 5px rgba(0, 0, 0, 0.25);



// Transition
// -------------------------------

$transition: all 0.3s ease-in-out;


// Easing
// -------------------------------

$swift-ease-out-duration:         0.3s !default;
$swift-ease-out-timing-function:  cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out:                  all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration:          0.3s !default;
$swift-ease-in-timing-function:   cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in:                   all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration:      0.5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out:               all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;


// Borders
// -------------------------------
$border-grey: 1px solid $color-grey;
$border-grey--light: 1px solid $color-grey--light;


// Border radius
// -------------------------------
$border-radius-base:              5px;


// Box shadows
// -------------------------------
$box-shadow:                      0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(157, 157, 157, 0.24);
$box-shadow-big:                  0 0 8px 0 rgba(0, 0, 0, 0.2);

$box-shadow-big-inset:                   inset 0px 1px 10px 0px rgba(0,0,0,0.2);


//selection::


// Z-indexes
// -------------------------------
$lift-barely:                     1;
$lift-full:                       99999;


