
.icon-calendar:before { content: '\e800'; } /* 'î ' */
.icon-voet:before { content: '\e801'; } /* 'î ' */
.icon-enkel:before { content: '\e802'; } /* 'î ' */
.icon-back:before { content: '\e803'; } /* 'î ' */
.icon-rug:before { content: '\e804'; } /* 'î ' */
.icon-knie:before { content: '\e805'; } /* 'î ' */
.icon-elleboog:before { content: '\e806'; } /* 'î ' */
.icon-hoofdpijn:before { content: '\e807'; } /* 'î ' */
.icon-bekken:before { content: '\e808'; } /* 'î ' */